.inputWrapper{
    max-width: 400px;

    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-02);
    font-size: 1.6rem;

    .labelWrapper{
        display: flex;
        justify-content: space-between;
        padding: var(--spacing-02);

        span{
            color: var(--color-red-500);
            font-weight: 500;
            text-transform: capitalize;
            margin-top: auto;
        }
    }

    input{
        width: 100%;
        border: 2px solid var(--color-white-500);
        border-radius: .8rem;

        padding: var(--spacing-04);
    }

    input:focus{
        outline: none;
        border: 2px solid var(--color-blue-200);
    }

    input[error="true"]{
        border: 2px solid var(--color-red-500);
    }
}